body{
    margin: 0;
    background-size: cover;
    background-image: url('../image/Haikei.png');
    overflow: hidden;
    height: auto;
}

#box1, #box1_choice, #box1_ui,
#box2, #box2_choice, #box2_ui,
#box3, #box3_choice, #box3_ui,
#box4, #box4_choice, #box4_ui,
#box5, #box5_choice, #box5_ui,
#box6, #box6_choice, #box6_ui,
#box7, #box7_choice, #box7_ui,
#box8, #box8_choice, #box8_ui,
#box9, #box9_choice, #box9_ui{
    position: absolute;
    width: 200px;
    height: auto;
}

#box1_ui {
    top: 200px;
    left: 545px;
}
#box2_ui {
    top: 200px;
    left: 845px;
}
#box3_ui {
    top: 200px;
    left: 1145px;
}
#box4_ui {
    top: 400px;
    left: 545px;
}
#box5_ui {
    top: 400px;
    left: 845px;
}
#box6_ui {
    top: 400px;
    left: 1145px;
}
#box7_ui {
    top: 600px;
    left: 545px;
}
#box8_ui {
    top: 600px;
    left: 845px;
}
#box9_ui {
    top: 600px;
    left: 1145px;
}

#box1_choice, #box2_choice, #box3_choice, #box4_choice, #box5_choice, #box6_choice, #box7_choice, #box8_choice, #box9_choice {
    visibility: hidden;
} 

#turn_player, #turn_text{
    position: absolute;
    top: 1vw;
    visibility: hidden;
}
#turn_player{
    right: 48.2%;
}
#turn_text{
    left: 51.8%;
}

#fade{
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: auto;
}

#etc, #s_or_h, #return_title{
    position: absolute;
    width: 100%;
    height: 0;
    text-align: center;
}
#text_ui{
    position: relative;
    z-index: 20;
    top: 15vw;
}
#search_or_hide{
    position: relative;
    visibility: hidden;
    top: 5vw;
}
#return_title_button{
    z-index: 20;
    position: relative;
    visibility: hidden;
    top: 25vw;
}