body{
    margin: 0 0 0 0 ;
    background-size: cover;
    background-image: url('../image/Haikei.png');
    overflow: hidden;
    width: 100vw;
}

#random-match, #room-match{
    position: absolute;
    top: 50%;
}

#random-match{
    left: 20%;
}

#room-match{
    visibility: hidden;
    right: 20%;
}

#fade{
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: auto;
}

#matching{
    width: 100%;
    text-align: center;
}

#matching-ui{
    position: relative;
    z-index: 20;
    top: 20vw;
}
#fade, #matching-ui{
    visibility: hidden;
}