body{
    margin: 0 0 0 0 ;
    background-size: cover;
    background-image: url('../image/Haikei.png');
    overflow: hidden;
    width: 100vw;
}

#match-icon, #title {
    position: absolute;
    width: 100%;
    height: 0;
    text-align: center;
}

#title-icon{
    position: relative;
    top: 2vw;
}

#random-match{
    position: relative;
    top: 55vh;
}

#fade{
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: auto;
}

#matching{
    width: 100%;
    text-align: center;
}

#matching-ui{
    position: relative;
    z-index: 20;
    top: 20vw;
}
#fade, #matching-ui{
    visibility: hidden;
}